body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-custom{
    background-color: #00765a;
}
.navbar a{
    color: rgb(255, 255, 255);
}

.container{
    padding: 30px 10px;
}
#isi{
    background-color: #ddd;
    padding: 10px;
    border-radius: 7px;
    width: 800px;
    margin: 20px;
}
#isi h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.form-group{
    display: flex;
    flex-wrap: wrap;
}
.form-group label{
    flex: 1 1 150px;

}
.form-group input{
    flex: 3 1 300px;
}
#isi1{
    background-color: #ddd;
    padding: 10px;
    border-radius: 7px;
    width: 800px;
    margin: 20px;
}
#isi1 h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
#isi3{
    background-color: #ddd;
    padding: 10px;
    border-radius: 7px;
    width: 800px;
    margin: 20px;
}
#isi3 h3{
    margin-bottom: 20px;
    font-weight: bold;
}

.jk{
    display: block;
    padding-right: 47%;
    
}
.tombolfas{
    margin-left: 80px;
}
h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #00765a;
}

.features {
    padding: 40px 0;
    background: #f4f4f4;
}

.typelist {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

button{
    background-color: #00765a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.kartu {
    display: flex;
    justify-content:center;
    align-items: flex-start; 
    gap: 50px;
    flex-wrap: wrap; 
    padding-top: 20px;
    background-color: #f8f9fa;
    padding-bottom: 50px;
}
.kartu h2 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #00765a;
}
.kartu .card {
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.kartu .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.kartu .card-body {
    padding: 15px;
}
.kartu .card-title {
    font-weight: bold;
    color: #00765a;
    margin-bottom: 10px;
}
.kartu .fasilitas {
    font-size: 1rem;
    color: #6c757d;
}

